@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* NAVBAR */
.navbar{
    height: 100pt;
    width: 100%;
    background-color: #5964B8;
  }
  
  .navbar.navbar-expand-lg.navbar-light
  {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
  
  .navbar-toggler {
    background-color: #c9ccf1;
    border: solid 1px;
    border-radius: 10% 10% 10% 10%;
    padding: 5px;
    margin: 3px;
  }


  #logo{
    width: 90pt;
    height: auto;
    border-radius: 50% 50% 50% 50%;
  }
  
  .collapse.navbar-collapse{
    float: right;
    padding: 0px;
    font-size: 8PT;
    
  
  }
  
  .nav-item {
    padding: 5pt;
    margin: auto;
    text-align: center;
  }
  
  .nav-item a{
    padding-left: 18px;
    padding-right: 8px;
    font-family: 'Open Sans';
    background-color:#ffffff00;
    border: 0pt solid #ffffff00;
    color: #c75a00; 
  }
  
  .nav-item:hover {
    text-decoration: none;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 16pt;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #d4715b;
  }
  .actionbutton {
    border: 2pt solid #d4715b;
    border-radius: 3pt;
    text-transform: uppercase;
    color: #d4715b !important;
    background-color: #ffffff00;
    font-family: 'Montserrat';
  }
  
  .actionbutton:hover {
    border: 2pt solid #d6a084;
    text-transform: uppercase;
    background-color: #d6a084;
    color: white;
  }
  
  /* HOME */

  .wrapper{
    width: 100%;
  }

  .splash{
    height: 900px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fdfdfd;
  } 

  .splashBox{
    height: 780px;
    width: 96%;
    margin: auto;
    position: relative;
  }

   #splashTitle {
    font-size: 50pt;
    color: black;
    text-align: center;
    margin-top: -50pt;
    margin-right: 720pt;
    padding-bottom: 0px;
    position: relative;
    z-index: 2;
   }

  #splashImg{
  display: inline;
  margin: 0 auto;
  height: auto;
  height: 650px;
  width: 80%;
  border-radius: 50% 50% 50% 50%;
  position: relative;
  object-fit: cover;
  object-position: 50% 80%;
   } 

/* ADMIN HOME */

#adminSlashTitle {
  color: black;
}






/* FOOTER */

.footer{
  height: 200px;
  width: 100%;
  background-color: #2733A0;
  margin: 0pt;
}

.copyright{
  margin: auto;
  font-size: 12pt;
  line-height: 200px;
  color: #f1f1f1;
  text-align: center;
}